@{
    ViewBag.Title = "AcademicCodeOfConduct";
}
<h2>AcademicCodeOfConduct</h2>
<pre>
        A. ACADEMIC HONESTY POLICY
    Honesty in all endeavors is essential to the functioning of society. Honesty in the classroom
    among students and between students and faculty is a matter that should concern everyone in the
    university community. Indeed, academic honesty is one of the most important qualities
    influencing the character and image of an educational institution. As higher education is
    challenged to improve the quality of its programs, there is great value in emphasizing academic
    standards and integrity.
    I. Honesty
    A. University Responsibility: It is the university's responsibility to provide an educational
    process that informs both students and faculty of their rights and responsibilities regarding
    such important matters as cheating, plagiarism, and professional ethics. Most of what is
    considered unethical or dishonest behavior can be avoided if faculty and students clearly
    understand both what constitutes these practices and their consequences. The university
    community should also be aware of the procedures to be followed should a breach of
    academic honesty occur.
    B. Student Responsibilities. Students must be aware that the consequences of violating
    standards of academic honesty are extremely serious and costly and may result in the loss of
    academic and career opportunities. Students found to have committed violations against
    academic honesty face removal from university classes and degree programs, and/or
    suspension from the university, while remaining fully responsible for payment of current and
    any past due tuition and fees.
    To that end, the following Procedures for Enforcement of the University's Academic Honesty
    Policy shall be followed to ensure that constitutionally required due process safeguards are
    extended to an accused student.
    II. Procedures for Enforcement of Central Missouri's Academic Honesty Policy.
    A. Defining Offenses Against Academic Honesty
    A violation against academic honesty committed by a student is any act, which would
    deceive, cheat, or defraud so as to promote or enhance one's academic standing. Academic
    dishonesty also includes knowingly or actively assisting any person in the commission of an
    offense of academic dishonesty.
    Examples of offenses against academic honesty include, but are not limited to, the following:
    1. Plagiarism - Plagiarism is defined as the borrowing of ideas, opinions, examples, key
    words, phrases, sentences, paragraphs, or even structure from another person's work,
    including work written or produced by others without proper acknowledgment. "Work" is
    defined as theses, drafts, completed essays, examinations, quizzes, projects, assignments,
    presentations, or any other form of communication, be it on the Internet or in any other
    medium or media. "Proper acknowledgment" is defined as the use of quotation marks or
    indenting plus documentation for directly quoted work and specific, clearly articulated
    citation for paraphrased or otherwise borrowed material.
    2. Cheating - Includes, but is not limited to, those activities where a student (either on
    campus or on-line):
    (a) obtains or attempts to obtain pre-knowledge content of an examination;
    (b) copies someone else's work;
    (c) works in a group when the student has been told to work individually;
    (d) uses unauthorized reference material in an examination;
    (e) has someone else take an examination.
    (f) has someone else complete course work and/or an examination using a student’s secure
    log in and pass code.
    3. Breach of Standards of Professional Ethics - In certain degree programs, students will be
    instructed on and provided with that particular profession's code of ethics (e.g. The
    American Nurses Associations Code for Nurses). Under some circumstances, if a student
    is found to have violated that professional code, that violation may be considered a
    breach of the Academic Honesty Policy.
    B. Reporting Violations of the Academic Honesty Policy (revised July 1998)
    If a faculty member believes that a student has committed a violation of the Academic
    Honesty Policy with regard to an examination or other assigned work (laboratory assignment,
    term paper, etc.), the faculty member shall preserve any evidence (e.g. plagiarized article,
    examination or other material) which substantiates that a violation has occurred. Within one
    week of the incident, the faculty member will schedule a private conference with the student,
    advise him/her that the faculty member believes a violation of this Policy occurred, and allow
    the student to provide his/her side of the story or otherwise offer an explanation. Upon
    consideration of the information, if any, provided by the student, the faculty member shall
    make an independent determination within five calendar days whether a violation of the
    Academic Honesty Policy has occurred. If the faculty member is unable, for whatever reason,
    to contact the student within a five-class day period, the incident will be reported to the
    faculty member's department chair for further action.
    (1) In the event the faculty member finds no violation of the Academic Honesty Policy has
    occurred, the faculty member shall notify the student, in writing, of this finding.
    (2) In the event the faculty member determines a violation of the Academic Honesty Policy
    has occurred, he/she shall notify the student, within five class days, in writing, of this finding.
    The written notification shall contain a statement of finding and shall specify the provision of
    the policy violated and, consistent with the severity of the violation, shall indicate which of
    the following action(s) he/she shall take:
    a. Give the student an opportunity to resubmit the assignment or be retested to make up
    the work or test where the violation occurred;
    b. Assign a grade of "F" to the assignment or examination affected by the violation;
    c. Assign a grade of "F" for the course;
    d. Recommend to the Office of the Vice Provost for Student Experience and
    Engagement, and the Dean of Graduate and Extended Studies if the student is
    enrolled for graduate credit, that the student be disenrolled from class;
    e. Recommend to the Department Chair and the Vice Provost for Student Experience
    and Engagement, and the Dean of Graduate and Extended Studies if the student is
    enrolled for graduate credit, that the student be removed from the degree program; or
    f. Recommend to the Office of the Vice Provost for Student Experience and
    Engagement that the student be suspended from the university.
    (3) In the event the faculty member determines a violation of the Academic Honesty Policy
    has occurred, the faculty member will provide the Office of the Vice Provost for Student
    Experience and Engagement a copy of the written notice to the student, accompanied by a
    summary of all evidence. The faculty member shall keep the evidence and a copy of all
    summaries and documentation on file in the event the student wishes to appeal the faculty
    member's decision. The faculty member may interview other students and members of the
    university community to ascertain the pertinent facts and circumstances and may request
    written statements from them. However, anonymity of witnesses or witness statements cannot
    be guaranteed.
    (4) In the event that the student does not appeal the faculty member's decision within ten class
    days of notification, the faculty member's decision shall become final and the recommended
    action shall take place.
    (5) A student charged with a violation of this policy shall not be barred from participating in
    and attending classes, or from taking quizzes, tests and/or final examinations during the tenday
    period described in paragraph (4) (above) and/or during the appeal process.
    C. Student Appeal Process
    In the event a student charged with a violation of this policy disagrees with the faculty
    member's decision and wishes to appeal, the student is responsible for notifying the
    appropriate parties where he/she may be reached for purposes of appeal and must follow the
    following process:
    Level 1 of The Appeal Process
    Within five (5) class days of receipt of the faculty member's decision, the student should
    schedule a meeting with the faculty member's department chair. The chair will review the faculty
    member's documentation and evidence, review the circumstances with the student, and if
    possible, consult the faculty member. The chair will determine within five (5) class days of the
    meeting an appropriate action which may include, but is not limited to, endorsing, modifying, or
    overturning the faculty member's original decision, or he/she may determine an alternate course
    of action.
    The chair shall communicate his/her decision to the student, faculty member, and the Office of
    the Vice Provost for Student Experience and Engagement, and prepare a report of the evidence
    and reasons for making this decision.
    Level 2 of The Appeal Process
    In the event the student disagrees with the chair's actions, he/she may request a meeting with the
    college dean, to be scheduled within five (5) class days of receipt of the chair's decision. The
    dean will discuss the facts and circumstances of the violation with the student and other involved
    parties, on a collective or individual basis depending on the circumstances. The dean may also
    interview witnesses and undertake further investigative activities if he/she believes the
    circumstances merit further action. The dean shall complete his/her meetings and investigation
    and issue a finding within fifteen (15) class days of receipt of the student's appeal. In the event
    the dean is unable to accommodate this time frame, the student and other affected parties will be
    notified of this fact and the anticipated length of time needed to render a decision. The dean will
    notify the student, faculty member, chair, and Vice Provost for Student Experience and
    Engagement of his/her findings, and his/her intended course of action in writing.
    Level 3 of The Appeal Process
    If the student disagrees with the dean's decision, the student may request, within five (5) class
    days of receipt of notification of the dean's decision, a meeting with the Provost. The Provost
    will consider all the evidence on the record and shall decide, within ten (10) class days to take
    one of the following actions:
    (1) Uphold one or all of the previous decisions.
    (2) Overturn the decisions outright and make an alternate resolution.
    (3) Refer the matter to a university grievance committee. The Provost will appoint a
    committee of two students and two faculty members to review the matter within fifteen
    class days of the Provost's referral. The committee will make its recommendation to the
    Provost within five (5) days of completing its work. In the event of a tie vote of the
    committee, the Provost shall cast the deciding vote. The Provost shall immediately,
    upon receipt of the committee's recommendation, notify the student of the grievance
    committee's decision in writing.
    The Provost's decision is final and binding on all parties, and once communicated, shall be
    placed in full force and effect immediately.
    Questions concerning this policy or other issues related to academic honesty should be addressed
    to the Office of the Provost or the Office of Student Experience and Engagement.
</pre>
<button class="btn btn-success btn-lg" type="submit" onclick="location.href='@Url.Action("ACCCompleted", "Home")'">I Agree</button>