
@{
   @ViewBag.Title;
}

<h2>Advisor</h2>
<div class="row">
    <div class="col s6">
        <button class="btn btn-success btn-lg" type="submit"  onclick="location.href='@Url.Action("EditStudentDetails", "EditStudentDetails")'"><span class="glyphicon glyphicon-circle-arrow-right pull-left"></span>Retrieve Student Details</button>
    </div>
    <div class="col s6 ">
        <button class="btn btn-danger btn-lg" type="submit"  onclick="location.href='@Url.Action("ChangePassword", "ChangePassword")'"><span class="glyphicon glyphicon-lock pull-left"></span>Change Password</button>
    </div>
</div>