
@{
    ViewBag.Title = "Student";
}

<h2>Student</h2>

<div class="row">
    <div class="col s6">
        <button class="btn waves-effect waves-light green" type="submit" onclick="location.href='@Url.Action("ChangePassword", "ChangePassword")'">Change Password<i class="material-icons right">send</i></button>
    </div>
    <div class="col s6 ">
        <button class="btn waves-effect waves-light red" type="submit" onclick="location.href='@Url.Action("ChangePassword", "ChangePassword")'">Academic Code of Conduct<i class="material-icons right">send</i></button>
    </div>
</div>
<div class="row">
    <div class="col s6">
        <button class="btn waves-effect waves-light green" type="submit" onclick="location.href='@Url.Action("ChangePassword", "ChangePassword")'">Questionarrie<i class="material-icons right">send</i></button>
    </div>
</div>