
@{
    ViewBag.Title = "ResetPasswordStatus";
}

<h2>ResetPasswordStatus</h2>
@if (@ViewBag.Status)
{
    <p> Password Updated Succesfully! </p>
}
else
{
    <p> Password update failed! </p>
}

@Html.ActionLink("Back", "UpdateAdvisor")