@model IEnumerable<MBASite.ViewModels.StudentId>

@{
    ViewBag.Title = "StudentsList";
}

<h2>Student List</h2>
@{ 
    List<SelectListItem> list = new List<SelectListItem>();
    foreach (var id in Model)
    {
        list.Add(new SelectListItem
        {
            Text = id.Id.ToString(),
            Value = id.Id.ToString()
        });
    }
}